
table.table.table-striped.table-hover
              thead.no-bd
                tr
                  th
                    a(href="", ng-click="reverse=!reverse;order('title', reverse)")
                      strong Date 
                  th
                    a(href="", ng-click="reverse=!reverse;order('description', reverse)")
                      strong Morning Shift                                    
                  th
                    a(href="", ng-click="reverse=!reverse;order('description', reverse)")
                      strong Late Night Shift
                  th
                    a(href="", ng-click="reverse=!reverse;order('description', reverse)")
                      strong Afternoon Shift
                  th
                    a(href="", ng-click="reverse=!reverse;order('description', reverse)")
                      strong Night Shift      
              tr(ng-repeat="event in data |orderBy: 'currDate':true")
                td
                  {{event.currDate |date:"short"}}
                td
                  button.btn(ng-if="event.is_morning_scheduled==true && event.manager_schedule.morning_schedule_details.is_approve==true"  ng-click="morningPop(event)" style="background-color:green;") View Details

                   button.btn(ng-if="event.is_morning_scheduled==true && event.manager_schedule.morning_schedule_details.is_approve!=true"  ng-click="morningPop(event)" style="background-color:cyan;") View Details

                  p(ng-if="event.is_morning_scheduled!=true").
                    no event scheduled
                td
                  button.btn(ng-if="event.is_late_night_scheduled==true && event.manager_schedule.late_night_schedule_details.is_approve==true"  ng-click="lateNytPop(event)" style="background-color:green;") View Details

                  button.btn(ng-if="event.is_late_night_scheduled==true && event.manager_schedule.late_night_schedule_details.is_approve!=true"  ng-click="lateNytPop(event)" style="background-color:cyan;") View Details

                  p(ng-if="event.is_late_night_scheduled!=true").
                    no event scheduled
                td
                  button.btn(ng-if="event.is_afternoon_scheduled==true && event.manager_schedule.afternoon_schedule_details.is_approve==true"  ng-click="afternoonPop(event)" style="background-color:green;") View Details

                  button.btn(ng-if="event.is_afternoon_scheduled==true && event.manager_schedule.afternoon_schedule_details.is_approve!=true"  ng-click="afternoonPop(event)" style="background-color:cyan;") View Details

                  p(ng-if="event.is_afternoon_scheduled!=true").
                    no event scheduled
                td
                  button.btn(ng-show="event.is_night_scheduled==true && event.manager_schedule.night_scheduled_details.is_approve==true"  ng-click="nytPop(event)" style="background-color:green;") View Details

                  button.btn(ng-show="event.is_night_scheduled==true && event.manager_schedule.night_scheduled_details.is_approve!=true"  ng-click="nytPop(event)" style="background-color:cyan;") View Details

                  p(ng-if="event.is_night_scheduled!=true").
                    no event scheduled 
// BEGIN MODAL
#get-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="closemodal()" data-dismiss="modal", aria-hidden="true") &#215;
        h4.modal-title(style='text-align:center') Assignment Details
              .modal-body
            strong {{event_modal.title}}:
            br
            |  Event Name : {{event_modal.name}}
            br
            |  Start Date : {{event_modal.start_date}}
            br
            |  Start Time : {{event_modal.shiftstarttime}}
            br
            |  End Date : {{event_modal.end_date}}
            br
            |  End Time : {{event_modal.shiftendtime}}
            br
            |  Event Location : {{event_modal.location_address.city}}
            br
            |  Other employees :
            br             
    // END MODAL                      
